<!-- Footer -->
<footer class="page-footer">

  <div class="address-and-form-container">
    <div class="address-text-container">
      <div class="address-text">20 Leeton Ridge St. Oklahoma City, OK 73112 hello@cooltivasocial.com </div>
    </div>
      <div class="form-container">
        <div class="suscribe-text">Suscribe </div>
        <form class="input-group form-check-inline">
        <input type="text" class="form-control form-control-sm col-11" placeholder="Your email"
          aria-label="Your email" aria-describedby="basic-addon2">
          <button class="button-form btn btn-primary">Sign up!</button>
        </form>
    </div>
  </div>

  <!-- Copyright and icons -->
    <div class="copyright-and-icons-container">
      <div class="container-copyright-text">
        <div class="copyright-text">© 2020 Copyright: <a href=""> Cooltiva-Social.inc</a></div>
      </div>
        <div class="icons-container">
          <i class="fab fa-facebook-f fa-2x white-text"> </i>
          <i class="fab fa-twitter fa-2x white-text"> </i>
          <i class="fab fa-instagram fa-2x white-text"> </i>
        </div>
    </div>

</footer>
