
<div class= container>
  <h3>
    Booking confirmed
  </h3>
  <p>Congratulations! You have successfully booked your slot</p>
 <a class="btn btn-primary" id="abc" href="/bookings">My bookings </a></div>
