


<div class="banner_h">
  <div class="container">
    <div class="content-banner">
      <h1>Love doing good.</h1>
      <p>Find your place and change society together</p>
      <button type="button" class="btn btn-primary">   Register now!   </button>
    </div>
  </div>
</div>


<div class="container-cards-home">
  <h1>Discover projects and organizations looking for you</h1>
  <div class="assist-card">
    <h3>Assist</h3>
      <p>Volunteer for different events and causes and make new friends!</p>
  </div>
    <div class="assist-card">
      <h3>Find</h3>
        <p>Search for the nearest places, could be your house or when you travel!</p>
    </div>
      <div class="assist-card">
        <h3>Shop</h3>
          <p>Buy on social responsible sites or markets</p>
      </div>
        <div class="assist-card">
          <h3>Review</h3>
            <p>Tell us how was your experience so others get motivated to join!</p>
        </div>
</div>
