

<div class="banner_h">
  <div class="container">
    <div class="content-banner">
      <h1>Love doing good.</h1>
      <p>Find your place and change society together</p>
      <button type="button" class="btn btn-primary">   Register now!   </button>
    </div>
  </div>
</div>

<div class="container-cards-title">
  <h1>Discover projects and organizations looking for you</h1>
<div class="container-cards">
<div class="d-flex justify-content-center">

    <div class="card min-vh-40 d-inline-block h-70" style="width: 18rem;">
      <div style="background-image: url('https://i.ibb.co/FhDCFLy/240320-covid19greeting-LHL.jpg')" class="img-card card-img-top" alt="..."> </div>
        <div class="card-body text-center">
        <h5 class="card-title">Assist</h5>
        <p class="card-text">Volunteer for different events and causes and make new friends!</p>

        </div>
    </div>

    <div class="card min-vh-40 d-inline-block h-70" style="width: 18rem;">
      <div style="background-image: url('https://i.ibb.co/M7vjsbF/geocoding.png')" class="img-card card-img-top" alt="..."> </div>
        <div class="card-body text-center">
        <h5 class="card-title">Find</h5>
        <p class="card-text">Search for the nearest places, could be your house or when you travel!</p>
        </div>
    </div>

    <div class="card min-vh-40 d-inline-block h-70" style="width: 18rem;">
      <div style="background-image: url('https://i.ibb.co/Hd37tjm/Screen-Shot-2020-05-16-at-4-12-00-AM.png')" class="img-card card-img-top" alt="..."> </div>
        <div class="card-body text-center">
        <h5 class="card-title">Shop</h5>
        <p class="card-text">Buy on social responsible sites or markets</p>
        </div>
    </div>

    <div class="card min-vh-40 d-inline-block h-70" style="width: 18rem;">
      <div style="background-image: url('https://i.ibb.co/vXPcXwf/text-chemistry-review.jpg')" class="img-card card-img-top" alt="..."> </div>
        <div class="card-body text-center">
        <h5 class="card-title">Reviews</h5>
        <p class="card-text">Tell us how was your experience so others get motivated to join!</p>
        </div>
    </div>

</div>
</div>
</div>

<div class="categories d-flex justify-content-center">
<div class="container-categories border text-center">
  <h1>Our categories</h1>
  <div class="categories-title">
    <div class="d-flex justify-content-around">
      <a href="" class="category d-inline-block"> Responsible consumption </a>
      <a href="" class="category d-inline-block"> Donations </a>
      <a href="" class="category d-inline-block"> Social Working</a>
      <a href="" class="category d-inline-block"> Shared Knowledge</a>

    </div>
  </div>
</div>
</div>

<div class="d-flex justify-content-center">
<div class="card-notsure card bg-light text-white text-center">
  <img src="https://i.ibb.co/r6560B3/techo.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h1 class="card-title">Not sure where to begin?</h1>
    <p class="card-text">Start with the list of activities near your location</p>
    <a href="#" class="btn btn-primary">Start here!</a>
  </div>
</div>
</div>



