
<div class="search-page-container">
  <h3>Search Result</h3>
  <div class="search-results-container">
    <% @results.each do |result| %>
      <div class="search-title-result mt-3" >
        <h5> <%= link_to result.title, activity_path(result.id) %></h5>
      </div>
      <div class="search-description-result">
        <%= result.who_description %>
      </div>
    <% end %>
  </div>
</div>
