

body > div.container-fluid {
  margin-top: 100px;
  border: none;
}

.index-cards-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: 1px solid gray;
  border-radius: 8px;
}

img {
  position:relative;
  height: inherit;
  width: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.card-text-container {
  display: flex;
  flex-direction: column;
}

.cards-title-container {
  margin-left: 8px;
  margin-top: 8px;
}

.cards-description-container {
  margin-left: 8px;
  margin-right: 8px;
}

.cards-category-container {
  margin-left: 8px;
}

.cards-image-container {
  border-radius: 8px;
  height: 200px;
  width: 200px;

}

.card-text-container {
  display: flex;
  flex-direction: column;
}

.cards-review-container {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 200px;
  width: 200px;
  border-left: 1px solid gray;
}

.pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pag-items {
  margin-right: 5px;
  margin-left: 5px;
}
